<div class="ecard">
  <div class="ecard-imgs">
    <div class="ecard-background"></div>

    <div class="ecard-logo">
      <img src="../assets/images/BichoTech-Logo.svg" width="100%" alt="BichoTech Logo">
    </div>
  </div>

  <div class="ecard-name">
    <p>Fidel<span>HDZ</span></p>
  </div>

  <div class="ecard-thanks">
    <p>Gracias por tu visita</p>
  </div>

  <div class="ecard-location">
    <i class="fas fa-location-arrow"><span>Monterrey, NL, MX</span></i>
  </div>

  <div class="ecard-cerro">
    <img src="../assets/images/Cerro.svg" alt="Imagen Cerro">
  </div>

  <div class="ecard-links">
    <div class="ecard-column">
      <h5>Redes Sociales</h5>
      <ul>
        <li>
          <a href="https://www.facebook.com/bichotech.agencia" target="_blank">
            <i class="fab fa-facebook-f"></i>
            Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/bichotech.agencia/" target="_blank">
            <i class="fab fa-instagram"></i>
            Instagram
          </a>
        </li>
        <li>
          <a href="https://www.bicho.tech/" target="_blank">
            <i class="fas fa-globe"></i>
            Sitio Web
          </a>
        </li>
      </ul>
    </div>

    <div class="ecard-column">
      <h5>Comunícate</h5>
      <ul>
        <li>
          <a href="../assets/vcard/FidelHdz.vcf">
            <i class="fas fa-download"></i>
            Descargar Vcard
          </a>
        </li>
        <li>
          <a href="mailto:fh@bicho.tech?subject=Deseo%20m&aacute;s%20informaci&oacute;n%20sobreo%20BichoTech" target="_blank">
            <i class="fas fa-envelope"></i>
            Correo
          </a>
        </li>
        <li>
          <a href="https://wa.link/0j3lq9" target="_blank">
            <i class="fab fa-whatsapp"></i>
            Whatsapp
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
